<!DOCTYPE html>
<html>
    <head>
        <title>Ecommerce</title>
        <link rel="stylesheet" href="styles.css" />
    </head>
    <body>
        <div class="grid-container">
            <header class="header">
                <div class="brand">
                    <a href="index.html"> ecommerce</a>
                </div>
                <div class="header-links">
                    <a href="cart.html">cart</a>
                    <a href="signin.html">sign in</a>
                </div>
            </header>
            <aside>shopping categories</aside>
            <main class="main">
                <ul>
                    <li>product 1</li>
                    <li>product 1</li>
                    <li>product 1</li>
                    <li>product 1</li>
                    <li>product 1</li>
                </ul>
            </main>
            <footer class="footer">
                all rights reserved
            </footer>
        </div>
    </body>
</html>